# Create tables

Purpose of this notebook: to create several tables for companies. 

**Table 2**: Licensee <-> Licence:
- company_name (or FK)
- registration_number
- licence_name (or FK)
- licence_number (if available)
- company_share (if available)
- date_range (if available)

**Table 3**: Operator <-> Licence:
Same fields as table 1

**Table 4**: Company <-> Company:
- company_name (or FK)
- parent
- parent period
- current owner (if available, ubo)
- share

**Table 5**: Company Info
- company_name
- registration_number
- address
- jurisdiction
- registration_date
- dissolution_date

## Conventions
- All names are in uppercase
- All names are normalised for companies that are the same

In [39]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import requests
import json
from datetime import date
import geopandas as gpd

In [4]:
# Instantiate connection

engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/north_sea')
connection = engine.connect()

## Update cleaning company excel

In [ ]:
# Import cleaning file

company_names = pd.read_excel('../data/company_info/companies_clean_current.xlsx', sheet_name='local')

In [ ]:
company_names.to_sql('company_names', connection, if_exists='replace')

## Historical licences - companies

Only historical licences are with a start and end date

In [54]:
# Import NO licensees

no_lic = gpd.read_postgis('SELECT * FROM \"no_licence_licensee_history"', 
                          connection,
                          geom_col='geometry')
no_lic.sample(20)

,prlnpdidlicence,cmpnpdidcompany,prlname,cmplongname,prllicenseedatevalidfrom,prllicenseedatevalidto,prllicenseeinterest,prllicenseesdfi,cmpfactpageurl,prloperdatevalidfrom,prloperdatevalidto,prllicenseedateupdated,geometry
17507,48207,20460080,053 B,Core Energy AS,2015-10-06 02:00:00+02:00,2016-05-25 02:00:00+02:00,12.2575,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
20527,27396130,29491716,818,Lime Petroleum AS,2017-07-25 02:00:00+02:00,2018-05-15 02:00:00+02:00,30.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
23183,4920841,2388594,473,Eni Norge AS,2009-11-02 01:00:00+01:00,2018-05-15 02:00:00+02:00,29.4000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
23352,28942251,32011216,864,Equinor Energy AS,2018-05-16 02:00:00+02:00,2020-05-10 02:00:00+02:00,40.0000,NaN,https://factpages.npd.no/factpages/default.asp...,2018-05-16 02:00:00+02:00,2020-05-10 02:00:00+02:00,2022-03-10 01:00:00+01:00,None
24877,48207,28183464,053 B,Point Resources AS,2018-10-12 02:00:00+02:00,2018-12-02 01:00:00+01:00,12.2575,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
8427,2987047,17237193,348,VNG Norge AS,2011-01-01 01:00:00+01:00,2011-06-30 02:00:00+02:00,2.5000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
2531,4237881,4062957,444,Genesis Petroleum Norway AS,2007-09-22 02:00:00+02:00,2010-07-05 02:00:00+02:00,20.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
29034,34635,1626839,079,Petoro AS,2002-10-01 02:00:00+02:00,2002-12-01 01:00:00+01:00,38.3000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
26912,21561151,29028767,636,Pandion Energy AS,2018-02-22 01:00:00+01:00,2019-10-30 01:00:00+01:00,20.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
1191,25610848,17237193,794,VNG Norge AS,2016-01-13 01:00:00+01:00,2016-05-17 02:00:00+02:00,20.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
3396,21228,1340884,054,TotalFinaElf Exploration Norge AS,2001-06-17 02:00:00+02:00,2001-12-17 01:00:00+01:00,3.1045,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
2125,20964,430,024,Norsk Hydro Produksjon AS,2003-05-06 02:00:00+02:00,2006-12-31 01:00:00+01:00,32.8700,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
17206,21044,67,032,Amerada Hess Norge AS,1978-12-05 01:00:00+01:00,1989-02-28 01:00:00+01:00,25.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
11379,34042043,29028767,636 B,Pandion Energy AS,2019-03-01 01:00:00+01:00,2019-10-30 01:00:00+01:00,20.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
9688,23268222,441,090 G,Idemitsu Petroleum Norge AS,2016-01-13 01:00:00+01:00,2018-02-21 01:00:00+01:00,40.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
8508,2490197,4524355,296,Norsk Hydro Petroleum AS,2007-01-01 01:00:00+01:00,2007-09-30 02:00:00+02:00,60.0000,NaN,https://factpages.npd.no/factpages/default.asp...,2007-01-01 01:00:00+01:00,2007-09-30 02:00:00+02:00,2022-03-10 01:00:00+01:00,None
23476,1025257,1622484,134 B,Statoil ASA (old),2001-05-10 02:00:00+02:00,2001-05-31 02:00:00+02:00,23.0000,NaN,https://factpages.npd.no/factpages/default.asp...,2001-05-10 02:00:00+02:00,2007-09-30 02:00:00+02:00,2022-03-10 01:00:00+01:00,None
3229,22420,749,201,Den norske stats oljeselskap a.s,1999-04-13 02:00:00+02:00,2001-05-09 02:00:00+02:00,25.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
29039,25610656,26464449,790,MOL Norge AS,2016-09-30 02:00:00+02:00,2016-09-30 02:00:00+02:00,20.0000,NaN,https://factpages.npd.no/factpages/default.asp...,None,None,2022-03-10 01:00:00+01:00,None
22568,20428711,21666830,601,Wintershall Norge AS,2012-12-31 01:00:00+01:00,2013-06-26 02:00:00+02:00,40.0000,NaN,https://factpages.npd.no/factpages/default.asp...,2012-03-24 01:00:00+01:00,2015-11-13 01:00:00+01:00,2022-03-10 01:00:00+01:00,None

In [12]:
# Create subset

subset = ['prlnpdidlicence',
           'prlname', 
           'cmpnpdidcompany',
           'cmplongname', 
           'prllicenseedatevalidfrom', 
           'prllicenseedatevalidto', 
           'prllicenseeinterest']

no_licensees = no_lic[subset]

In [20]:
# Rename columns

cols = {'prlnpdidlicence': 'licence_id',
        'prlname': 'licence_name',
        'cmpnpdidcompany': 'company_id',
        'cmplongname': 'company_name',
        'prllicenseedatevalidfrom': 'start_date',
        'prllicenseedatevalidto': 'end_date',
        'prllicenseeinterest': 'interest'}

no_licensees = no_licensees.rename(columns=cols)

no_licensees['role'] = 'licensee'

In [55]:
no_lic_op = gpd.read_postgis('SELECT * FROM \"no_licence_oper_history"', 
                             connection, 
                             geom_col='geometry')
no_lic_op.head()

,prlnpdidlicence,cmpnpdidcompany,prlname,cmpshortname,cmplongname,prloperdatevalidfrom,prloperdatevalidto,cmpfactpageurl,prlfactpageurl,prloperdateupdated,geometry
0,2986982,4511658,347,STATOILHYDRO PETROLEUM,StatoilHydro Petroleum AS,2007-10-01 02:00:00+02:00,2007-12-14 01:00:00+01:00,https://factpages.npd.no/factpages/default.asp...,https://factpages.npd.no/factpages/default.asp...,2022-03-10 01:00:00+01:00,None
1,25610356,23173852,784,TULLOW OIL NORGE,Tullow Oil Norge AS,2015-02-06 01:00:00+01:00,2016-12-01 01:00:00+01:00,https://factpages.npd.no/factpages/default.asp...,https://factpages.npd.no/factpages/default.asp...,2022-03-10 01:00:00+01:00,None
2,3812021,32011216,195 B,EQUINOR ENERGY AS,Equinor Energy AS,2018-05-16 02:00:00+02:00,2020-10-29 01:00:00+01:00,https://factpages.npd.no/factpages/default.asp...,https://factpages.npd.no/factpages/default.asp...,2022-03-10 01:00:00+01:00,None
3,36463981,36998861,1032,LUNDIN ENERGY NORWAY AS,Lundin Energy Norway AS,2020-04-01 02:00:00+02:00,2022-06-29 02:00:00+02:00,https://factpages.npd.no/factpages/default.asp...,https://factpages.npd.no/factpages/default.asp...,2022-07-13 02:00:00+02:00,None
4,36464644,28544099,1047,AKER BP ASA,Aker BP ASA,2020-02-14 01:00:00+01:00,2022-02-14 01:00:00+01:00,https://factpages.npd.no/factpages/default.asp...,https://factpages.npd.no/factpages/default.asp...,2022-04-23 02:00:00+02:00,None

In [27]:
no_operators = no_lic_op[['prlnpdidlicence',
                          'prlname', 
                          'cmpnpdidcompany',
                          'cmplongname', 
                          'prloperdatevalidfrom', 
                          'prloperdatevalidto']].copy()

In [28]:
no_operators = no_operators.rename(columns={'prlnpdidlicence': 'licence_id',
                                            'prlname': 'licence_name',
                                            'cmpnpdidcompany': 'company_id',
                                            'cmplongname': 'company_name',
                                            'prloperdatevalidfrom': 'start_date',
                                            'prloperdatevalidto': 'end_date'})
no_operators['role'] = 'operator'

In [29]:
no_lic_com = pd.concat([no_licensees, no_operators])

In [31]:
no_lic_com.head()

,licence_id,licence_name,company_id,company_name,start_date,end_date,interest,role
0,24213929,724,21631209,E.ON E&P Norge AS,2015-09-04 02:00:00+02:00,2016-01-12 01:00:00+01:00,30.0,licensee
1,20908,018 B,430,Norsk Hydro Produksjon AS,1995-08-25 02:00:00+02:00,1996-12-31 01:00:00+01:00,6.7,licensee
2,25871009,338 C,2767314,Lundin Norway AS,2019-05-29 02:00:00+02:00,2020-03-31 02:00:00+02:00,80.0,licensee
3,20900,018,1626839,Petoro AS,2001-06-17 02:00:00+02:00,2001-12-17 01:00:00+01:00,5.0,licensee
4,21236,055,1622484,Statoil ASA (old),2002-03-19 01:00:00+01:00,2003-03-03 01:00:00+01:00,12.6,licensee

In [77]:
# UK historical licences

uk_lic_hist = gpd.read_postgis('SELECT * FROM \"uk_licenced_blocks_history"', 
                               connection,
                               geom_col='geometry')

In [78]:
uk_lic_hist.columns

Index(['licblockid', 'quadno', 'blockno', 'blockref', 'origidatum',
       'agreed_km2', 'calc_km2', 'lictype', 'licno', 'licref', 'location',
       'licsubtype', 'admorg', 'admorggrp', 'licorg', 'licorggrp', 'oporg',
       'oporggrp', 'licensed', 'blocksuffi', 'blckstrtdt', 'licstartdt',
       'initenddt', 'secenddt', 'licenddt', 'licstatus', 'rndtype', 'rndno',
       'rndstartdt', 'rndenddt', 'geometry'],
      dtype='object')

In [79]:
uk_lic_hist[['blckstrtdt', 'licref']]

     blckstrtdt licref
0           NaT   None
1           NaT   None
2           NaT   None
3           NaT   None
4           NaT   None
...         ...    ...
8364 2006-03-03   P729
8365 2022-10-31   P238
8366 2022-09-12     P8
8367 2022-12-01  P2351
8368 2019-03-31   P566

[8369 rows x 2 columns]

In [80]:
uk_lic_hist = uk_lic_hist[uk_lic_hist.licno.notna()]

uk_licensees = uk_lic_hist[['licno',
                             'licref',
                             'licorg',
                             'licstartdt',
                             'licenddt']].copy()

In [81]:
uk_licensees.head()

,licno,licref,licorg,licstartdt,licenddt
7178,920.0,P920,"CHRYSAOR LIMITED (06418649), ENQUEST HEATHER L...",1995-07-25,2031-07-24
7179,18.0,ML18,ISLAND GAS LIMITED (04962079),1967-01-12,2027-01-11
7180,1241.0,P1241,"EGDON RESOURCES EUROPE LIMITED (05708733), EGD...",2004-12-01,2030-11-30
7181,99.0,P99,CHRYSAOR RESOURCES (IRISH SEA) LIMITED (034400...,1970-06-09,NaT
7182,90.0,P90,BP EXPLORATION OPERATING COMPANY LIMITED (0030...,1965-11-25,NaT

In [82]:
uk_licensees['licorg'] = uk_licensees['licorg'].str.split(', ')
uk_licensees = uk_licensees.explode('licorg')
uk_licensees['licorg'] = uk_licensees.licorg.apply(lambda x: x.split(' (')[0])
uk_licensees['licno'] = uk_licensees['licno'].astype('int')
# Assign licensee role

uk_licensees['role'] = 'licensee'

In [83]:
uk_licensees.head()

,licno,licref,licorg,licstartdt,licenddt,role
7178,920,P920,CHRYSAOR LIMITED,1995-07-25,2031-07-24,licensee
7178,920,P920,ENQUEST HEATHER LIMITED,1995-07-25,2031-07-24,licensee
7178,920,P920,EQUINOR UK LIMITED,1995-07-25,2031-07-24,licensee
7179,18,ML18,ISLAND GAS LIMITED,1967-01-12,2027-01-11,licensee
7180,1241,P1241,EGDON RESOURCES EUROPE LIMITED,2004-12-01,2030-11-30,licensee

In [36]:
uk_eq = pd.read_sql('SELECT * FROM \"uk_subareas_by_equityholder"', connection)

In [37]:
uk_eq.columns

Index(['fieldname', 'field_no', 'lastedited', 'geometry'], dtype='object')

In [ ]:
uk_eq[['licno', 'blockref', 'licref', 'licorg', 'blckstrtdt', 'licstartdt','oporg', 'eqorg']].sort_values('blockref')

In [ ]:
uk_lic_ = pd.merge(uk_lic_hist[['licno', 'blockref', 'licref', 'blckstrtdt', 'blckenddt', 'licorg', 'oporg']], 
                   uk_eq[['licno', 'blockref', 'blckstrtdt', 'licorg', 'eqorg']],
                   left_on=['licno', 'licorg'],
                   right_on=['licno', 'licorg'],
                   how='left'
                  )

In [ ]:
uk_lic_[uk_lic_.eqorg.notna()]

In [ ]:
uk_lic_.loc[9216]['licorg']

In [ ]:
uk_lic_.loc[9216]['eqorg']

## Current licence - Company tables

### NL current licences

In [ ]:
# NL import current licences

nl_lic = pd.read_sql('SELECT * FROM \"nl_licences_current\"', connection)

In [ ]:
# Select subset of columns

nl_current_licence_licensee_table = nl_lic[['licensees', 
                                            'licence_nm']].copy()

# Clean licensees when there are multiple candidates

nl_current_licence_licensee_table['licensees'] = nl_current_licence_licensee_table['licensees'].str.split(', ')
nl_current_licence_licensee_table = nl_current_licence_licensee_table.explode('licensees')

# Assign role

nl_current_licence_licensee_table['role'] = 'licensee'

# Rename columns

nl_current_licence_licensee_table = nl_current_licence_licensee_table.rename(columns={'licensees': 'name', 
                                                                                      'licence_nm': 'licence_id'})
# Create operator column

nl_current_licence_operator_table = nl_lic[['operator', 'licence_nm']].copy()

# Assign role

nl_current_licence_operator_table['role'] = 'operator'

# Rename columns 

nl_current_licence_operator_table = nl_current_licence_operator_table.rename(columns={'operator': 'name', 
                                                                                      'licence_nm': 'licence_id'})
# Bring it together

nl_current_licence_table = pd.concat([nl_current_licence_licensee_table, nl_current_licence_operator_table])
#nl_current_licence_table['name'] = nl_current_licence_table['name'].str.upper()
#nl_current_licence_table = nl_current_licence_table.sort_values(by='name').drop_duplicates()

# Check the result

nl_current_licence_table.head()

### UK current licences

In [ ]:
# Import licence data

uk_lic = pd.read_sql('SELECT * FROM \"uk_licences"', connection)

In [ ]:
# Get subset for licensees and operators

uk_lic_licensees = uk_lic[['licref', 'licorg']].copy()
uk_lic_operators = uk_lic[['licref', 'suboporg']].copy()

# Clean licencees

uk_lic_licensees['licorg'] = uk_lic_licensees['licorg'].str.split(', ')
uk_lic_licensees = uk_lic_licensees.explode('licorg')
uk_lic_licensees['licorg'] = uk_lic_licensees.licorg.apply(lambda x: x.split(' (')[0])

# Assign licensee role

uk_lic_licensees['role'] = 'licensee'

# Rename columns

uk_lic_licensees = uk_lic_licensees.rename(columns={'licorg': 'name', 
                                                    'licref': 'licence_id'})

# Clean up operators table

uk_lic_operators['suboporg'] = uk_lic_operators['suboporg'].str.split(', ')
uk_lic_operators = uk_lic_operators.explode('suboporg')
uk_lic_operators['suboporg'] = uk_lic_operators.suboporg.apply(lambda x: x.split(' (')[0])

# Assign role for operators

uk_lic_operators['role'] = 'operator'

# Rename columns
uk_lic_operators = uk_lic_operators.rename(columns={'suboporg': 'name', 
                                                    'licref': 'licence_id'})

In [ ]:
# Bring it together

uk_current_licence_table = pd.concat([uk_lic_operators, uk_lic_licensees])

# And inspect result
uk_current_licence_table.head()

### NO current licences

In [ ]:
# Import NO licensees

no_lic = pd.read_sql('SELECT * FROM \"no_licence_licensee_history"', connection)

In [ ]:
# Select subset of columns

no_licence_licensees = no_lic[['prlname', 
                               'cmplongname', 
                               'prllicenseedatevalidfrom', 
                               'prllicenseedatevalidto', 
                               'prllicenseeinterest']].copy()

# Rename columns

no_licence_licensees = no_licence_licensees.rename(columns={'prlname': 'licence_id',
                                                            'cmplongname': 'name',
                                                            'prllicenseedatevalidfrom': 'start_date',
                                                            'prllicenseedatevalidto': 'end_date',
                                                            'prllicenseeinterest': 'interest'})
# Assign role to companies

no_licence_licensees['role'] = 'licensee'

In [ ]:
# Import operators

no_lic_op = pd.read_sql('SELECT * FROM \"no_licence_oper_history"', connection)

In [ ]:
# Select subset of columns

no_licence_operators = no_lic_op[['prlname', 'cmplongname', 'prloperdatevalidfrom', 'prloperdatevalidto']].copy()

# Rename columns

no_licence_operators = no_licence_operators.rename(columns={'prlname': 'licence_id',
                                                            'cmplongname': 'name',
                                                            'prloperdatevalidfrom': 'start_date',
                                                            'prloperdatevalidto': 'end_date'})

no_licence_operators['role'] = 'operator'

In [ ]:
# Bring NO operators and licensees together

no_current_licence_table = pd.concat([no_licence_licensees, no_licence_operators])

# Filter out expired projects

no_current_licence_table = no_current_licence_table[no_current_licence_table['end_date'].isna()]

# Select subset of columns

no_current_licence_table = no_current_licence_table[['licence_id',
                                                     'name',
                                                     'role']].copy()

no_current_licence_table.head()

### Bring it all together

In [ ]:
# Concat dfs

lic_com = pd.concat([nl_current_licence_table,
                     uk_current_licence_table,
                     no_current_licence_table])

# Add date column

lic_com['valid_on'] = date.today()

# Clean up names

lic_com.name = lic_com.name.str.upper()

# Check the result

lic_com.head()

In [ ]:
lic_com[lic_com['name'].isna()]

In [ ]:
# Write to PostgreSQL

lic_com.to_sql('current_licences_companies', connection, if_exists='replace')